  @import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,100&display=swap');

  html{
    font: 63%;
  }

  #btnsubmit{
    width: 4.5rem;
    height: 2.485rem;
    border: 1px solid transparent;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(255, 255, 255);
  }
  #btnsubmit:active{
    background-color: rgba(0, 0, 0, 0.616);
    color: whitesmoke;
  }

  input[type="text"]{
    width: 20rem;
    height: 2.485rem;
    border: 1px solid transparent;
    outline: none;
    padding-left: 1rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .logo-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
